# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
tmp
/assets
/attack-graffiti.ttf
/favicon-chroma.png
/favicon-modern.svg
/favicon.svg
/graffiti-smash-logo.svg
/icons.svg
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
